    <title>Weather App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        ul {
            list-style-type: none;

        }
        li {
            margin-bottom: 10px;
        }
        li a {
            text-decoration: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            display: inline-block;
            width: 120px; 
        }

    </style>
</head>
<body>
    <h1>Welcome to Weather App</h1>
    <ul>
        <li><a href="/weather/Zhytomyr" style="background-color: #008CBA;">Zhytomyr</a></li>
        <li><a href="/weather/Kyiv" style="background-color: #f44336;">Kyiv</a></li>
        <li><a href="/weather/Lutsk" style="background-color: #FF9800;">Lutsk</a></li>
        <li><a href="/weather/Odesa" style="background-color: #4CAF50;">Odesa</a></li>
        <li><a href="/weather/Dnipro" style="background-color: #9C27B0;">Dnipro</a></li>
        <li><a href="/weather/Kharkiv" style="background-color: #2196F3;">Kharkiv</a></li>
        <li><a href="/weather/" class="my_loc" style="background-color: #0000FF;">My Location</a></li>
    </ul>

