<header>
        <ul>
                <li><a href="/">Головна сторінка</a></li>
                <li><a href="/notes">Записи</a></li>
                <li><a href="/add">Створити запис</a></li>
        </ul>
</header>
<h1>Лабораторна робота 5, Кравчук Ілля, ІМ-13</h1>
<h2>Варіант 16. Спроектувати базу даних про договори: назва фірми-клієнта, вид договору, термін дії.</h2>
